@font-face {
    font-family: 'poppins';
    src: url("/font/Poppins-Regular.ttf");
  }
  
  /* Awal Navbar */
  
  .navbar-horizontal{
    width: 100%; 
    z-index: 1002; 
    font-family: poppins;
    position: fixed; 
  }
  
  
  .nav__cont{
    position: fixed;
    width: 90px;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .nav__items img{
    height: 36px;
    width: 36px;
    margin-top: 4rem;
  }
  
  .nav-barr:first-child {
    padding-top: 35px;
    margin-left: -10px;
    list-style-type: none;
    margin-top: 30px;
  }
  
  .nav__cont:hover{
    width: 220px;
  }
  
  .nav__items a:hover{
    position: relative;
    display: block;
    top: -35px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 45px;
    margin-right: 10px;
    text-decoration: none;
    font-family: "roboto";
    font-weight: 100;
    font-size: 1.35em;
    color: 1F4AA8;
    border-radius: 10px;
  }
  
  
  .nav__items a{
    position: relative;
    display: block;
    top: -35px;
    padding-left: 35px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: 1F4AA8;
    font-family: "roboto";
    font-weight: 100;
    font-size: 1.35em;
  }
  
  /* akhir navbar */
  
  /* Modal */

  /* The Modal (background) */
.modal {
  z-index: 6;
  font-family: poppins;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  font-family: poppins;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content input{
  width: 100%;
  border-radius: 5px;
}

.modal-content p label{
  color: #1F4AA8;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: #1F4AA8;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
}

  /* akhir modal */
  
  /* Awal konten 1 */
  
  .contents{
    height: max-content;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: #E7E7E7;
  }
  
  .isi-content{
    margin-left: 150px;
    margin-top: 80px;
    position: relative;
  }
  
  .judul-content-1 h3{
    font-size: 40px;
    font-family: poppins;
    color: #1F4AA8;
    margin-left: 8px;
  }
  
  .content-1{
    background-color: #1F4AA8;
    border-radius: 10px;
    height: 420px;
    background-image: url("/image/undraw_Online_learning_re_qw08 1.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    margin-bottom: 50px;
    margin-top: 25px;
    padding-top: 50px;
    padding-left: 40px;
    color: white;
  }
  
  .content-1 h1{
    font-weight: bold;
    font: optional;
    font-size: 40px;
  }
  
  .content-1 h2{
    font: optional;
    font-size: 40px;
    font-weight: bold;
  }
  
  .contents span{
    color: black;
    font-family: poppins;
    font-size: 20px;
  }
  
  /* Akhir Konten 1 */
  
  /* Awal Konten 2 */
  
  /* Akhir Konten 2 */
  
  
  /* Awal Konten 3 */
  
  .content-3{
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .item button {
    color: white;
    text-decoration: none;
    width: 200px;
    max-width: 100%;
    height: 80px;
    border-radius: 10px;
    max-height: 100%;
    padding: 10% 10%;
    display: inline-block;
    background-color: #1F4AA8;
    border: none;
  }
  
  .item button:hover {
    color: white;
    text-decoration: none;
    background-color: #2e63d6;
    display: inline-block;
    padding: 10%;
  }
  
  .item {
    width: 200px;
    max-width: 100%;
    background-color: #1F4AA8;
    color: white;
    border-radius: 10%;
  }
  
  .item:hover {
    background-color: #2e63d6;
    color: white;
    border-radius: 10%;
  }
  
  /* Akhir Konten 3 */
  
  
  /* Awal Konten */
  
  .akhir-konten {
    width: 100%;
    position: relative;
  }

  /* Akhir Konten */

  .footer {
    margin-top: 40px;
    margin-bottom: 5px;
    border-top: 1px solid #303030;
    padding: 15px 0;
    margin-top: 45px;
    font-family: poppins;
    color: #1F4AA8;
  }

  .footer a{
    color: #1F4AA8;
  }

  .footer a:hover{
    text-decoration: none;
    color: #1F4AA8;
  }
  
  /*////////        Responve         /////////*/
  
  
  /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }