    <!-- </div>
  </body>
</html> -->

<div class="footer col-sm-12">
  <footer>
    Copyright &copy;
        <script>
            document.write(new Date().getFullYear());
        </script>
        All rights reserved | <a href="">E-Learning DTI</a>
  </footer>
</div>