<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>coderszine.com - User Authentication with Node.js, Express and MySQL</title>
	<link rel="icon" type="image/png" href="https://coderszine.com/wp-content/themes/v2/cz.png">
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
       -->

       <!DOCTYPE html>
       <html lang="en" >
       
       <head>
       
         <meta charset="UTF-8">
       
       <!-- link data table -->
       
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css">
       
       
       <!--  -->
       
       <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
       <meta name="apple-mobile-web-app-title" content="CodePen">
       
       <link rel="shortcut icon" type="image/x-icon" href="/image/Group 22.png" />
       
       <link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />
       
         <script>
         window.console = window.console || function(t) {};
       </script>
       
         <script>
         if (document.location.search.match(/type=embed/gi)) {
           window.parent.postMessage("resize", "*");
         }
       </script>
       
         <script>
           $(document).ready(function() {
             $('#example').DataTable();
         } );
         </script>

         <style>
           @font-face {
            font-family: 'poppins';
            src: url("/font/Poppins-Regular.ttf");
          }
         </style>
       
       
       <!-- penting -->
       
       <title>E-learning - Dashboard</title>
       <link rel="stylesheet" href="/asset/styless_dashboard.css">
       
       </head>
       